body{
    margin-bottom: 50px;
    background-color: #f8f8f8;
}
.login-box{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -191px;
	margin-top: -200px;
	width: 300px;
	background-color: #fff;
	border: 1px solid #eee;
	padding: 10px 20px 20px 20px;
}
.login-choose{
	margin-top: 20px;
	margin-bottom: 50px;
	text-align: center;
}
.login-choose a{
	padding: 5px 20px;
	color: #999;
}
.login-choose a:first-of-type{
	border-right: 1px solid #e6e6e6;
}
.login-choose .chooseThis{
	color: #009688;
}

.layui-form-label{
	width: 40px;
}
.layui-input-block{
	margin-left: 80px;
}
.layui-form-item{
	text-align: center;
}
.login-btn{
	width: 120px;
	margin-top: 10px;
}